@model Finance101.Models.MortgageForm

@{
    ViewData["Title"] = "EditMortgageInfo";
}

<h1>Edit</h1>

<h4>Mortgage Form</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditMortgageInfo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="OutstandingMortgageBalance" class="control-label"></label>
                <input asp-for="OutstandingMortgageBalance" class="form-control" />
                <span asp-validation-for="OutstandingMortgageBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepaymentTerm" class="control-label"></label>
                <input asp-for="RepaymentTerm" class="form-control" />
                <span asp-validation-for="RepaymentTerm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentInterestRate" class="control-label"></label>
                <input asp-for="CurrentInterestRate" class="form-control" />
                <span asp-validation-for="CurrentInterestRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentMonthlyPayment" class="control-label"></label>
                <input asp-for="CurrentMonthlyPayment" class="form-control" />
                <span asp-validation-for="CurrentMonthlyPayment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
