//variables
$primary-color: #4CAF50;
$secondary-color: #f2f2f8;
$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

body {
    font-family: $font-family;
    padding: 0;
    background-color: #f8f8f8;
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
}

main {
    margin: 0 20px;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 0;
    padding: 10px;
}

h2 {
    color: #fff;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #333;
    color: #fff;
    margin-bottom: 0;
}

label {
    padding: 3px 0;
    font-weight: bold;
    color: #555;
}

input {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.button {
    background-color: $primary-color;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0;
}

.button:hover {
    background-color: darken($primary-color, 10%);
}

#infoTable {
    //background-color: #fff;
    margin: 0 auto;
    padding: 0 10px 50px 60px;
    border-radius: 10px;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#mortgageTable {
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    tr,
    th,
    td {
        border-bottom: 1px solid #ddd;
    }

    th {
        display: flex;
        font-size: 18px;
        padding: 8px;
        background-color: #333;
        color: #fff;
    }

    td {
        font-weight: bold;
        padding: 0 40px;
        text-align: center;
    }
}

//css styling for mobile and tablet screens
@media (max-width: 768px) {
    .main {
        display: flex;
        flex-flow: column nowrap;
        max-width: 500px;
        margin: 0 auto;
    }

    #mortgageFormId {
        display: flex;
        flex-flow: column nowrap;
    }
}

//styling for resolutions above tablet resolution
@media (min-width: 769px) {
    .main {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
    }

    #mortgageFormId {
        display: flex;
        flex-flow: column nowrap;
    }
}
